<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899880890678-qq67mq89gjv127mglmrs0nj9tqb7anp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899880890678-qq67mq89gjv127mglmrs0nj9tqb7anp3</string>
	<key>API_KEY</key>
	<string>AIzaSyBGC9v49imX85_oMaG3gvcwyAtAfMUL1Qc</string>
	<key>GCM_SENDER_ID</key>
	<string>899880890678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mitrai.miliemerchant</string>
	<key>PROJECT_ID</key>
	<string>youcabfoodie-f8482</string>
	<key>STORAGE_BUCKET</key>
	<string>youcabfoodie-f8482.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899880890678:ios:fe8c795e418c39fed44397</string>
	<key>DATABASE_URL</key>
	<string>https://youcabfoodie-f8482.firebaseio.com</string>
</dict>
</plist>